# Require admin approval for any change in these files

CODEOWNERS                                                      @olivierjm
.github/                                                        @olivierjm
package.json                                                    @olivierjm
src/data                                                        @olivierjm
public/                                                         @olivierjm
