name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thank you for contributing to powercut project, we will get back to you on this issue as soon as possible."
        pr-message: "Thank you for opening your first PR for powercut project, We greatly value your contribution, Please make sure you read our code of conduct."
